

## Human verification of paelographic observations for msA, page 126r

###  Completeness

To check for **completeness** of coverage, please review these visualizations of paleographic observations in ICT2:

-  [126r](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.1929,0.2248,0.01363,0.01923&urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.2052,0.2326,0.01253,0.01051&urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.2196,0.2253,0.01124,0.01521&urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.2316,0.2313,0.006817,0.01093&urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.2412,0.2311,0.007185,0.01397)

## Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

| Image     | Reading     |
| :------------- | :------------- |
| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vaimg/2017a/VA126RN_0298.tif&RGN=0.1929,0.2248,0.01363,0.01923&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.1929,0.2248,0.01363,0.01923) | ε |
| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vaimg/2017a/VA126RN_0298.tif&RGN=0.2052,0.2326,0.01253,0.01051&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.2052,0.2326,0.01253,0.01051) | ὗ |
| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vaimg/2017a/VA126RN_0298.tif&RGN=0.2196,0.2253,0.01124,0.01521&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.2196,0.2253,0.01124,0.01521) | δ |
| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vaimg/2017a/VA126RN_0298.tif&RGN=0.2316,0.2313,0.006817,0.01093&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.2316,0.2313,0.006817,0.01093) | ο |
| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vaimg/2017a/VA126RN_0298.tif&RGN=0.2412,0.2311,0.007185,0.01397&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vaimg.2017a:VA126RN_0298@0.2412,0.2311,0.007185,0.01397) | ν |
